# <span style="color:#6042f5"><b>Recommendation</b>
Now i will use previously processed datasets to try to recommend something.

## <span style="color:darkgrey"><b>Importy</b>

In [12]:
import numpy as np
import pandas as pd
import ast

from sklearn.preprocessing import OneHotEncoder, MultiLabelBinarizer

## <span style="color:#60421d"><b>Preparation</b>

In [13]:
games = pd.read_csv('./datasets/processed_data/games.csv')
games[['desc', 'developer']] = games[['desc', 'developer']].fillna('')
games.dropna(subset='title',inplace=True)
users = pd.read_csv('./datasets/processed_data/users.csv',dtype={'user_id':int,
                                                                 'name':str,
                                                                 'hours_played': str})
users.name = users.name.apply(ast.literal_eval)
users.hours_played = users.hours_played.apply(ast.literal_eval)

games.supported_languages =  games.supported_languages.apply(ast.literal_eval)
games.tags = games.tags.apply(ast.literal_eval)
games.game_features = games.game_features.apply(ast.literal_eval)

In [14]:
games.head(3)

,title,win,mac,linux,steam_deck,desc,developer,supported_languages,tags,game_features
1,-circle triangle square-,NaN,NaN,NaN,NaN,Puzzle game using three types of objects ○ △ a...,Plucre Co Ltd,"[English, Japanese]","[Casual, Puzzle, Physics, Relaxing, 2D, Single...",[Single-player]
2,Circles,True,True,False,True,,,[],[],[]
3,Fallalypse,True,True,True,True,A group of terrorists has arranged a nuclear h...,Hede Fallalypse studio,"[English, Japanese, Russian, Traditional Chine...","[Early Access, Action, Adventure, Indie, Casua...","[Single-player, Online PvP, Steam Achievements..."

In [15]:
users.head(3)

,user_id,name,hours_played
0,5250,"[Alien Swarm, Cities Skylines, Counter-Strike,...","[4.9, 144.0, 0.0, 0.0, 0.0, 0.0, 62.0, 0.2, 0...."
1,76767,"[Age of Empires II HD Edition, Alien Swarm, Ar...","[13.1, 0.8, 0.0, 0.0, 0.0, 24.0, 22.0, 12.5, 6..."
2,86540,"[Age of Empires II HD Edition, Age of Empires ...","[0.7, 0.0, 0.2, 0.0, 0.0, 0.0, 0.0, 57.0, 0.0,..."

## <span style="color:#6042f5"><b>Encoding data</b>

In [31]:
encoder = MultiLabelBinarizer(sparse_output=True)
data_encoded = encoder.fit_transform(users.name.values)
print(encoder.classes_[227])

print(data_encoded[0])

for x,y in zip(*data_encoded[0].nonzero()):
    data_encoded[y][x] *= 5
    print(f"{x} {y} {data_encoded[y][x]}")

Alien Swarm
  (0, 227)	1
  (0, 852)	1
  (0, 978)	1
  (0, 984)	1
  (0, 1131)	1
  (0, 1179)	1
  (0, 1248)	1
  (0, 1336)	1
  (0, 2069)	1
  (0, 2070)	1
  (0, 2071)	1
  (0, 2072)	1
  (0, 2073)	1
  (0, 2074)	1
  (0, 2076)	1
  (0, 2078)	1
  (0, 3222)	1
  (0, 3223)	1
  (0, 3531)	1
  (0, 4257)	1
  (0, 4258)	1
0 227   (0, 984)	1
  (0, 1248)	1
  (0, 1874)	1
  (0, 1264)	1
  (0, 2070)	1
  (0, 2071)	1
  (0, 2072)	1
  (0, 2073)	1
  (0, 2074)	1
  (0, 3222)	1
  (0, 3223)	1
  (0, 1636)	1
  (0, 2075)	1
  (0, 726)	1
  (0, 727)	1
  (0, 736)	1
  (0, 737)	1
  (0, 740)	1
  (0, 741)	1
  (0, 743)	1
  (0, 981)	1
  (0, 1702)	1
  (0, 3603)	1
  (0, 3604)	1
  (0, 3605)	1
  :	:
  (0, 3263)	1
  (0, 3496)	1
  (0, 3679)	1
  (0, 3680)	1
  (0, 3681)	1
  (0, 1040)	1
  (0, 1041)	1
  (0, 1073)	1
  (0, 3682)	1
  (0, 3683)	1
  (0, 3954)	1
  (0, 4067)	1
  (0, 4101)	1
  (0, 4102)	1
  (0, 4103)	1
  (0, 4104)	1
  (0, 4105)	1
  (0, 4266)	1
  (0, 4633)	1
  (0, 4634)	1
  (0, 4995)	1
  (0, 5073)	1
  (0, 1265)	1
  (0, 1689)	1
  (0, 1690)	1
0 852   (0, 984)	1
  (0, 2071)	1
  (0, 2074)	1
  (0, 1132)	1
  (0, 1499)	1
0 978   (0, 978)	1
  (0, 984)	1
  (0, 2475)	1
  (0, 979)	1
  (0, 980)	1
  (0, 3222)	1
  (0, 2474)	1
  (0, 736)	1
  (0, 737)	1
0 984   (0, 2071)	1
  (0, 2072)	1
  (0, 2073)	1
  (0, 2074)	1
0 1131   (0, 978)	1
  (0, 984)	1
  (0, 1131)	1
  (0, 1179)	1
  (0, 2069)	1
  (0, 2070)	1
  (0, 2071)	1
  (0, 2074)	1
  (0, 2076)	1
  (0, 2078)	1
  (0, 3531)	1
  (0, 4258)	1
0 1179   (0, 4667)	1
  (0, 2683)	1
  (0, 2684)	1
  (0, 4663)	1
  (0, 175)	1
  (0, 2896)	1
  (0, 174)	1
  (0, 1499)	1
  (0, 2115)	1
  (0, 2116)	1
0 1248   (0, 984)	1
0 1336   (0, 231)	1
  (0, 2960)	1
  (0, 4601)	1
  (0, 1248)	1
  (0, 4607)	1
  (0, 1679)	1
  (0, 4913)	1
  (0, 4741)	1
0 2069   (0, 981)	1
  (0, 984)	1
  (0, 75)	1
  (0, 1133)	1
  (0, 3942)	1
  (0, 4257)	1
  (0, 1132)	1
  (0, 3613)	1
  (0, 1894)	1
  (0, 279)	1
  (0, 1977)	1
0 2070   (0, 227)	1
  (0, 1853)	1
  (0, 4711)	1
  (0, 1339)	1
  (0, 2070)	1
  (0, 2072)	1
  (0, 1289)	1
  (0, 2073)	1
  (0, 2074)	1
  (0, 3357)	1
  (0, 3222)	1
  (0, 3358)	1
  (0, 4160)	1
  (0, 3834)	1
  (0, 4257)	1
  (0, 3898)	1
  (0, 736)	1
  (0, 737)	1
  (0, 981)	1
  (0, 2531)	1
  (0, 1552)	1
  (0, 4712)	1
  (0, 1266)	1
  (0, 1267)	1
  (0, 1269)	1
  (0, 3066)	1
  (0, 4788)	1
  (0, 3227)	1
  (0, 2163)	1
  (0, 2475)	1
  (0, 3023)	1
  (0, 3024)	1
  (0, 3057)	1
  (0, 3059)	1
  (0, 3060)	1
  (0, 3472)	1
  (0, 3553)	1
  (0, 3562)	1
  (0, 3546)	1
  (0, 3567)	1
  (0, 730)	1
  (0, 731)	1
  (0, 732)	1
  (0, 584)	1
  (0, 3748)	1
  (0, 1758)	1
0 2071   (0, 978)	1
  (0, 1131)	1
  (0, 1179)	1
  (0, 979)	1
  (0, 980)	1
  (0, 3531)	1
0 2072   (0, 227)	1
  (0, 981)	1
  (0, 984)	1
  (0, 1459)	1
  (0, 1336)	1
  (0, 4147)	1
  (0, 1806)	1
  (0, 2071)	1
  (0, 2074)	1
  (0, 4140)	1
  (0, 4898)	1
  (0, 4257)	1
  (0, 1132)	1
  (0, 2142)	1
0 2073   (0, 978)	1
  (0, 1336)	1
  (0, 132)	1
  (0, 134)	1
  (0, 135)	1
  (0, 140)	1
  (0, 141)	1
  (0, 152)	1
  (0, 3222)	1
  (0, 3223)	1
  (0, 4651)	1
  (0, 4257)	1
  (0, 3508)	1
  (0, 4653)	1
  (0, 2443)	1
  (0, 981)	1
  (0, 3501)	1
  (0, 619)	1
  (0, 1691)	1
  (0, 2432)	1
  (0, 2475)	1
  (0, 4680)	1
  (0, 3621)	1
  (0, 1409)	1
  (0, 3650)	1
  :	:
  (0, 1401)	1
  (0, 2656)	1
  (0, 2263)	1
  (0, 4707)	1
  (0, 3619)	1
  (0, 1421)	1
  (0, 1612)	1
  (0, 231)	1
  (0, 5082)	1
  (0, 2841)	1
  (0, 454)	1
  (0, 1340)	1
  (0, 3500)	1
  (0, 4142)	1
  (0, 4421)	1
  (0, 1615)	1
  (0, 940)	1
  (0, 620)	1
  (0, 621)	1
  (0, 622)	1
  (0, 3498)	1
  (0, 1306)	1
  (0, 1428)	1
  (0, 159)	1
  (0, 1692)	1
0 2074   (0, 726)	1
  (0, 727)	1
0 2076   (0, 981)	1
  (0, 984)	1
  (0, 4771)	1
  (0, 1336)	1
  (0, 4039)	1
  (0, 3825)	1
  (0, 3826)	1
  (0, 379)	1
  (0, 3630)	1
  (0, 4527)	1
  (0, 4037)	1
  (0, 3982)	1
  (0, 4364)	1
0 2078   (0, 726)	1
  (0, 727)	1
0 3222   (0, 2273)	1
0 3223   (0, 3825)	1
0 3531   (0, 3660)	1
0 4257   (0, 2069)	1
  (0, 2070)	1
  (0, 2071)	1
  (0, 2072)	1
  (0, 2073)	1
  (0, 2074)	1
  (0, 2076)	1
  (0, 2078)	1
  (0, 2453)	1
  (0, 3222)	1
  (0, 3223)	1
  (0, 2282)	1
  (0, 4258)	1
  (0, 2221)	1
  (0, 2455)	1
  (0, 219)	1
  (0, 860)	1
  (0, 2945)	1
  (0, 4580)	1
  (0, 619)	1
  (0, 2475)	1
  (0, 3567)	1
  (0, 954)	1
  (0, 3071)	1
  (0, 4876)	1
  :	:
  (0, 3741)	1
  (0, 1159)	1
  (0, 3068)	1
  (0, 4152)	1
  (0, 4189)	1
  (0, 4593)	1
  (0, 2079)	1
  (0, 1794)	1
  (0, 1439)	1
  (0, 1550)	1
  (0, 2652)	1
  (0, 4321)	1
  (0, 3413)	1
  (0, 10)	1
  (0, 4592)	1
  (0, 3827)	1
  (0, 265)	1
  (0, 287)	1
  (0, 292)	1
  (0, 882)	1
  (0, 896)	1
  (0, 3990)	1
  (0, 1442)	1
  (0, 1553)	1
  (0, 1554)	1
0 4258   (0, 3658)	1
  (0, 978)	1
  (0, 329)	1
  (0, 333)	1
  (0, 984)	1
  (0, 1281)	1
  (0, 4706)	1
  (0, 3664)	1
  (0, 3373)	1
  (0, 3223)	1
  (0, 4257)	1
  (0, 81)	1
  (0, 873)	1
  (0, 736)	1
  (0, 737)	1
  (0, 2142)	1
  (0, 2960)	1
  (0, 981)	1
  (0, 3114)	1
  (0, 4601)	1
  (0, 1446)	1
  (0, 602)	1
  (0, 359)	1
  (0, 4788)	1
  (0, 1846)	1
  :	:
  (0, 2475)	1
  (0, 982)	1
  (0, 3562)	1
  (0, 4231)	1
  (0, 730)	1
  (0, 731)	1
  (0, 732)	1
  (0, 4885)	1
  (0, 3871)	1
  (0, 4364)	1
  (0, 4365)	1
  (0, 4366)	1
  (0, 4367)	1
  (0, 724)	1
  (0, 725)	1
  (0, 734)	1
  (0, 735)	1
  (0, 1140)	1
  (0, 979)	1
  (0, 980)	1
  (0, 3065)	1
  (0, 3570)	1
  (0, 84)	1
  (0, 1693)	1
  (0, 255)	1